--- 
--- 
@import "minimal";
@import "terminal.min.css";
@import "rouge.gruvbox.dark.css";

:root {
  --global-font-size: 18px;
  --h1-font-size: 22px;
  --h2-font-size: 20px;
  --h3-font-size: 19px;
  --background-color: #282828;
  --page-width: 60em;
  --font-color: #fbf1c7;
  --invert-font-color: #ebdbb2;
  --primary-color: #1a95e0;
  --secondary-color: #727578;
  --error-color: #d20962;
  --progress-bar-background: #727578;
  --progress-bar-fill: #151515;
  --code-bg-color: #1d2021;
  --input-style: solid;
  --display-h1-decoration: none;
  --block-background-color: #3c3836;
}

body {
  background-color: var(--background-color);
  padding-top: 15px;
}

pre,
.highlight {
  background-color: var(--block-background-color);
}
small{font-size: 12px;}

.terminal {
  h1 {
    font-size: var(--h1-font-size);
    color: #d65d0e;
  }

  h2 {
    font-size: var(--h2-font-size);
    color: #fabd2f;
  }

  h3 {
    font-size: var(--h3-font-size);
    color: #fabd2f;
  }
  code {
    font-size: 12px;
  }
  .author {color: #689d6a; }
  .date {color: #8ec07c;}
  .wrapper {
    width: 980px;
    section {width: 700px;}
  }
}
